@font-face {
	font-family: 'Happiness-Sans-Title';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

	--disabled-color: #8e8e8e;
	--lighten-primary-color: #5b5b5b;
	--primary-color: #232323;
	--error-color: rgb(214, 0, 0);
	--divider-color: #e2e2e2;
	--text-color-400: #808080;
	--text-color-700: #111111;

	--screen-width: 600px;
}

* {
	box-sizing: border-box;
}

html {
	line-height: 1.5rem;

	color: var(--text-color-700);
}

body {
	display: flex;

	flex-direction: column;

	align-items: center;

	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

button, input[type="button"], input[type="submit"] {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	 -khtml-user-select: none;
		 -moz-user-select: none;
			-ms-user-select: none;
					user-select: none;

	color: inherit;
}

button:not(.chip), input[type="submit"] {
	cursor: pointer;

	width: 100%;
	height: 48px;

	margin: 0;
	border: 0;
	border-radius: 4px;
	
	color: white;
	background-color: var(--primary-color);

	font-size: 1rem;

	transition: background-color .2s ease;
}

button.pending:not(.chip), input[type="submit"].pending {
	background-color: var(--disabled-color);
}

button.chip {
	cursor: pointer;

	border-radius: 8px;
	border: 1px solid var(--divider-color);
	
	background-color: white;

	font-size: 14px;

	margin: 0;
	padding: 4px 8px;
}

button.pending, input[type="button"].pending, input[type="submit"].pending {
	cursor: unset;
}

button.chip.active {
	border: 1px solid transparent;

	color: white;
	background-color: var(--primary-color);
}

button.chip.active::before {
	content: "✓ ";
}

label {
	display: block;

	color: var(--text-color-400);

	font-size: 14px;
}

input[type="text"], input[type="email"] {
	display: block;

	border-radius: 4px;
	border: 1px solid var(--divider-color);

	font-size: 1rem;

	padding: 8px 12px;

	width: 100%;
	margin: 0;
}

input:focus {
	outline: none;
}

label>input {
	margin-top: 4px !important;
}

@media (hover) {
	button.chip:hover:not(.pending) {
		border: 1px solid transparent;
	
		color: white;
		background-color: var(--primary-color);
	}

	input[type="submit"]:hover:not(.pending) {
		background-color: var(--lighten-primary-color);
	}
}